.formContainer{
  height: 500px;
}

.formContainer .inputContainer {
    width: 40%;
}
.formHeader {
    text-transform: capitalize;
    color: #343b43 ;
    padding: 0.5em;
    font-weight: bold;
}

.formInputGroup {
    width: 70%;
}